.d-flex{

    margin: 0;
    display: none;
}
.list-item-css{

    height: 20%;

}
.list-group{
    padding-right: 0px;
}

.my-0
{
    text-align: right;
}

.cart_buttons
{
    position: relative;
    text-align: left;
    dir: rtl;
}

.quantity_div
{
    display: none;
}